:root {
  --orange-base: #E95B1E;
  --orange-light: #E96830;
  --black: #050505;

  --grass: #74CB48;
  --bug: #A7B723;
  --dark: #75574C;
  --dragon: #7037FF;
  --electric: #F9CF30;
  --fairy: #E69EAC;
  --fighting: #C12239;
  --psychic: #FB5584;
  --steel: #B7B9D0;
  --fire: #F57D31;
  --flying: #A891EC;
  --ghost: #70559B;
  --normal: #AAA67F;
  --ground: #DEC16B;
  --ice: #9AD6DF;
  --poison: #A43E9E;
  --rock: #B69E31;
  --water: #6493EB;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.type-grass {
  background-color: var(--grass);
}

.type-bug {
  background-color: var(--bug);
}

.type-dark {
  background-color: var(--dark);
}

.type-dragon {
  background-color: var(--dragon);
}

.type-electric {
  background-color: var(--electric);
}

.type-fairy {
  background-color: var(--fairy);
}

.type-fighting {
  background-color: var(--fighting);
}

.type-psychic {
  background-color: var(--psychic);
}

.type-steel {
  background-color: var(--steel);
}

.type-fire {
  background-color: var(--fire);
}

.type-flying {
  background-color: var(--flying);
}

.type-ghost {
  background-color: var(--ghost);
}

.type-normal {
  background-color: var(--normal);
}

.type-ground {
  background-color: var(--ground);
}

.type-ice {
  background-color: var(--ice);
}

.type-poison {
  background-color: var(--poison);
}

.type-rock {
  background-color: var(--rock);
}

.type-water {
  background-color: var(--water);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;

}
html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;

  font-family:
    "Urbanist",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Ubuntu,
    Cantarell,
    sans-serif;

  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
